<!-- thay doi thong tin theo tieu do website -->
<h1>WEBSITE ĐIỀU KHIỂN MỘT SỐ THIẾT BỊ TRONG NHÀ</h1>
<hr />
<br />
<br />
<table align="center">
	<tr >
	<!-- thay doi thong tin tieu de cua cot -->
		<th width="40%" style="color: blue; text-align: left;padding-left: 17px" ><B >Tên thiết bị</B></th>
		<th width="20%" style="color: blue; text-align: center"><B>Trạng thái</B></th>
		<th width="40%" style="color: blue; text-align: center"><B >Điều khiển</B></th>
	</tr>
	<tr class="trh1">
		<td align="left">
			&nbsp;
			&nbsp;
			ĐÈN PHÒNG KHÁCH
		</td>
		<td align="center" id="status0">
			<div align="center" class="status-ON"></div>
		</td>
		<td align="center" id="button0">
			<button align="center" type="button" class="Button-ON"  ng-click="setstatusDevice1()" ng-model="leds_status[0]" ></button>
		</td>
	</tr>


	 <tr class="trh2">
		<td align="left" class="Noidung">
			&nbsp;
			&nbsp;
			ĐIỀU HÒA PHÒNG KHÁCH
		</td>
		<td align="center" id="status1">
			<div align="center" class="status-ON"></div>
		</td>
		<td align="center" id="button1" >
			<button align="center" type="button" class="Button-ON" ng-click="setstatusDevice2()" ng-model="leds_status[1]"></button>
		</td>
	</tr>

	<tr class="trh1">
		<td align="left">
			&nbsp;
			&nbsp;
			ĐÈN PHÒNG NGỦ 1
		</td>
		<td align="center" id="status2">
			<div align="center" class="status-ON"></div>
		</td>
		<td align="center" id="button2" >
			<button align="center" type="button" class="Button-ON" ng-click="setstatusDevice3()" ng-model="leds_status[2]"></button>
		</td>
	</tr>

	<tr class="trh2">
		<td align="left">
			&nbsp;
			&nbsp;
			ĐIỀU HÒA PHÒNG NGỦ 1
		</td>
		<td align="center" id="status3">
			<div align="center" class="status-ON"></div>
		</td>
		<td align="center" id="button3">
			<button align="center" type="button" class="Button-ON" ng-click="setstatusDevice4()" ng-model="leds_status[3]"></button>
		</td>
	</tr>

	<tr class="trh2">
		<td align="left">
			&nbsp;
			&nbsp;
			ĐÈN PHÒNG NGỦ 2
		</td>
		<td align="center" id="status4">
			<div align="center" class="status-ON"></div>
		</td>
		<td align="center" id="button4">
		  	<button align="center" type="button" class="Button-ON" ng-click="setstatusDevice5()" ng-model="leds_status[4]"></button>
		</td>
	</tr>

	<tr class="trh2">
		<td align="left">
			&nbsp;
			&nbsp;
			ĐIỀU HÒA PHÒNG NGỦ 2
		</td>
		<td align="center" id="status5">
			<div align="center" class="status-ON"></div>
		</td>
		<td align="center" id="button5">
			<button align="center" type="button" class="Button-ON" ng-click="setstatusDevice6()" ng-model="leds_status[5]"></button>
		</td>
	</tr>

	<tr class="trh1">
		<td align="left">
			&nbsp;
			&nbsp;
			ĐÈN PHÒNG BẾP
		</td>
		<td align="center" id="status6">
			<div align="center" class="status-ON"></div>
		</td>
		<td align="center" id="button6" >
			<button align="center" type="button" class="Button-ON" ng-click="setstatusDevice7()" ng-model="leds_status[6]"></button>
		</td>
	</tr>

	<tr class="trh1">
		<td align="left">
			&nbsp;
			&nbsp;
			QUẠT THÔNG GIÓ BẾP
		</td>
		<td align="center" id="status7">
			<div align="center" class="status-ON"></div>
		</td>
		<td align="center" id="button7">
			<button align="center" type="button" class="Button-ON" ng-click="setstatusDevice8()" ng-model="leds_status[7]"></button>
		</td>
	</tr>

	<tr class="trh1">
		<td align="left">
			&nbsp;
			&nbsp;
			BÌNH NÓNG LẠNH
		</td>
		<td align="center" id="status8">
			<div align="center" class="status-ON"></div>
		</td>
		<td align="center" id="button8">
			<button align="center" type="button" class="Button-ON" ng-click="setstatusDevice9()" ng-model="leds_status[8]"></button>
		</td>
	</tr> 
</table>
</div>
<br />
<br />
<h5>
<!-- cho nay thay doi thong theo nguoi code -->
	<BR">GIÁO VIÊN HƯỚNG DẪN: TS. NGUYỄN VĂN XUÂN</BR> 
	<BR><B><i>NHÓM ĐỒ ÁN: ĐỖ THỊ GIANG</i></B><BR>
	<BR><B><i>Mã sinh viên: 14150361</i></B><BR>
</h5>